{% include 'partials/header.html' %}

<main>
	<div class="two-col-grid">
		<section id="primary">
			<div class="articles">
				{% for post in posts %}
					{% include 'partials/article.html' %}
				{% endfor %}
			</div>
			{% include 'partials/paginator.html' %}
		</section>
		<section id="secondary">
			<div class="sidebar">
				{% include 'partials/author-intro-listing.html' %}
				{% include 'partials/tags.html' %}
			</div>
		</section>
	</div>
</main>

{% include 'partials/footer.html' %}