@font-face {
	font-family: "CormorantGaramond";
	font-weight: 300;
	src: url('fonts/CormorantGaramond/CormorantGaramond-Light.ttf') format('truetype');
}

@font-face {
	font-family: "CormorantGaramond";
	font-weight: 300;
	font-style: italic;
	src: url('fonts/CormorantGaramond/CormorantGaramond-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: "CormorantGaramond";
	font-weight: 400;
	src: url('fonts/CormorantGaramond/CormorantGaramond-Regular.ttf') format('truetype');
}

@font-face {
	font-family: "CormorantGaramond";
	font-weight: 400;
	font-style: italic;
	src: url('fonts/CormorantGaramond/CormorantGaramond-Italic.ttf') format('truetype');
}

@font-face {
	font-family: "CormorantGaramond";
	font-weight: 500;
	src: url('fonts/CormorantGaramond/CormorantGaramond-Medium.ttf') format('truetype');
}

@font-face {
	font-family: "CormorantGaramond";
	font-weight: 500;
	font-style: italic;
	src: url('fonts/CormorantGaramond/CormorantGaramond-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: "CormorantGaramond";
	font-weight: 600;
	src: url('fonts/CormorantGaramond/CormorantGaramond-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: "CormorantGaramond";
	font-weight: 600;
	font-style: italic;
	src: url('fonts/CormorantGaramond/CormorantGaramond-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: "CormorantGaramond";
	font-weight: 700;
	src: url('fonts/CormorantGaramond/CormorantGaramond-Bold.ttf') format('truetype');
}

@font-face {
	font-family: "CormorantGaramond";
	font-weight: 700;
	font-style: italic;
	src: url('fonts/CormorantGaramond/CormorantGaramond-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: "Lato";
	font-weight: 100;
	src: url('fonts/Lato/Lato-Thin.ttf') format('truetype');
}

@font-face {
	font-family: "Lato";
	font-weight: 100;
	font-style: italic;
	src: url('fonts/Lato/Lato-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: "Lato";
	font-weight: 300;
	src: url('fonts/Lato/Lato-Light.ttf') format('truetype');
}

@font-face {
	font-family: "Lato";
	font-weight: 300;
	font-style: italic;
	src: url('fonts/Lato/Lato-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: "Lato";
	font-weight: 400;
	src: url('fonts/Lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
	font-family: "Lato";
	font-weight: 400;
	font-style: italic;
	src: url('fonts/Lato/Lato-Italic.ttf') format('truetype');
}

@font-face {
	font-family: "Lato";
	font-weight: 700;
	src: url('fonts/Lato/Lato-Bold.ttf') format('truetype');
}

@font-face {
	font-family: "Lato";
	font-weight: 700;
	font-style: italic;
	src: url('fonts/Lato/Lato-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: "Lato";
	font-weight: 900;
	src: url('fonts/Lato/Lato-Black.ttf') format('truetype');
}

@font-face {
	font-family: "Lato";
	font-weight: 900;
	font-style: italic;
	src: url('fonts/Lato/Lato-BlackItalic.ttf') format('truetype');
}

@font-face {
	font-family: "MonumentExtended";
	font-weight: 600;
	src: url('fonts/MonumentExtended/MonumentExtended-Regular.otf') format('opentype');
}

@font-face {
	font-family: "MonumentExtended";
	font-weight: 900;
	src: url('fonts/MonumentExtended/MonumentExtended-Ultrabold.otf') format('opentype');
}

@font-face {
	font-family: 'Route159';
	font-weight: 100;
	src: url('fonts/Route159/Route159-UltraLight.otf') format('opentype');
}	

@font-face {
	font-family: 'Route159';
	font-weight: 100;
	font-style: italic;
	src: url('fonts/Route159/Route159-UltraLightItalic.otf') format('opentype');
}

@font-face {
	font-family: 'Route159';
	font-weight: 200;
	src: url('fonts/Route159/Route159-Light.otf') format('opentype');
}

@font-face {
	font-family: 'Route159';
	font-weight: 200;
	font-style: italic;
	src: url('fonts/Route159/Route159-LightItalic.otf') format('opentype');
}

@font-face {
	font-family: 'Route159';
	font-weight: 400;
	src: url('fonts/Route159/Route159-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'Route159';
	font-weight: 400;
	font-style: italic;
	src: url('fonts/Route159/Route159-Italic.otf') format('opentype');
}

@font-face {
	font-family: 'Route159';
	font-weight: 500;
	src: url('fonts/Route159/Route159-SemiBold.otf') format('opentype');
}

@font-face {
	font-family: 'Route159';
	font-weight: 500;
	font-style: italic;
	src: url('fonts/Route159/Route159-SemiBoldItalic.otf') format('opentype');
}

@font-face {
	font-family: 'Route159';
	font-weight: 600;
	src: url('fonts/Route159/Route159-Bold.otf') format('opentype');
}

@font-face {
	font-family: 'Route159';
	font-weight: 600;
	font-style: italic;
	src: url('fonts/Route159/Route159-BoldItalic.otf') format('opentype');
}

@font-face {
	font-family: 'Route159';
	font-weight: 700;
	src: url('fonts/Route159/Route159-Heavy.otf') format('opentype');
}

@font-face {
	font-family: 'Route159';
	font-weight: 700;
	font-style: italic;
	src: url('fonts/Route159/Route159-HeavyItalic.otf') format('opentype');
}