<div class="author-intro">
	<h3>Hello, I'm Abdush Shakoor! &#x1F44B;</h3>
	<p>I'm a programmer & designer based in Dubai, United Arab Emirates. I love tinkering with code and writing about what I learn.</p>
	<p>This website is my digital garden &mdash; a compendium of the things I've learned and created over the years.</p>

	<ul class="sitemap">
		<li><a href="mailto:megacolorboy@gmail.com">Email</a></li>
		<li><a href="https://github.com/megacolorboy">GitHub</a></li>
		<li><a href="https://linkedin.com/in/abdush-shakoor-mohamed-nazeer-b5546546">LinkedIn</a></li>
		<li><a href="https://twitter.com/MegaColorBoy">Twitter</a></li>
	</ul>
</div>