<!DOCTYPE html>
<html data-theme="yellow" lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles/raster/raster2.css">
	<link rel="stylesheet" href="styles/main.css">
	<title>About - Minimal Template</title>
</head>
<body>
	<r-grid class="main" columns=6>
	    <r-cell id="author-header" span="1-4">
	    	<a href="/">
		    	<div class="masthead">
			    	<div class="logo"></div>
			    	<p>megacolorboy</p>
			    </div>
			</a>
	    	<h1>A little bit about myself</h1>
	    	<h3>Here's a not-so-formal kind of introduction about myself.</h3>
	    </r-cell>
	    <r-cell span="5-6" id="menu">
	    	<r-grid columns=1>
	    		<r-cell>
	    			<a class="active" href="about.html">About</a>
	    		</r-cell>
	    		<r-cell>
	    			<a href="listing.html">Writings</a>
	    		</r-cell>
	    		<r-cell>
	    			<a href="#">Tips & Tricks</a>
	    		</r-cell>
	    		<r-cell>
	    			<a href="#">Projects</a>
	    		</r-cell>
	    		<r-cell>
	    			<a href="#">Resume</a>
	    		</r-cell>
	    	</r-grid>
	    </r-cell>
	</r-grid>
   	<r-grid class="article" columns=6>
   		<r-cell span="1-4" class="content">

   			<p>Hello there!</p>

			<p>My name is Abdush Shakoor and I like problem solving and building stuff for fun!</p>

   			<p>I'm a full stack software engineer living in Dubai, United Arab Emirates with a passion for Computer Science, Mathematics, Software Engineering, Digital Design and Technology.</p>

			<p>Currently, I work at <a href="https://www.pgsuae.com">Planet Green Solutions</a> as a Backend Engineer who develops web applications for various clients that mostly comprises of Government Entities of the United Arab Emirates.</p>

			<p>Oh, I'm also part of the Backend team that helped build <a href="https://www.farmsgate.com">FarmsGate</a>, an eCommerce platform for farmers that can sell and deliver fresh fruits and vegetables to your doorstep!</p>

			<p><a href="#">Check out my resume to learn more about my work experience →</a></p>

			<p>In my spare time, I love to tinker with my computer science and software engineering projects like implementing new algorithms, learning new programming languages or paradigms, building a game and so on. I also design conceptual user interfaces after being exposed to the <a href="https://dailyui.co">DailyUI</a> project.</p>

			<p>In fact, this blog is built from scratch. No bootstrap, no heavy UI frameworks or libraries are used as I found it quite unnecessary for a minimalist blog.</p>

			<!-- <div class="post-notification">
				<h3>Blog engine updated!</h3>
				<p>As of March 1st 2019, I have changed my blog engine from a dynamic website to a custom-built static site generator. <a href="../posts/say-hello-new-blog/">Read more →</a></p>
			</div> -->

			<p>I'm an intermediate-level toss juggler and I love to spend time practicing my juggling skills. Apart from that, I practice calisthenics, read books and listen to instrumental music.</p>

			<p>Illustrating artworks used to be a part of my life, but now it has become one of my hobbies as well. You can view my artworks on my <a href="https://www.behance.net/abdushshakoor">Behance</a> profile.</p>

			<h2>Areas of Interest</h2>

			<p>My areas of interest includes but not limited to:</p>

			<ul flow-cols=2>
				<li>Algorithms and Data Structures</li>
				<li>Computer Architecture</li>
				<li>Programming Languages and Compilers</li>
				<li>Distributed Systems</li>
				<li>Mathematics</li>
				<li>UNIX Operating Systems</li>
				<li>Networking</li>
				<li>Databases</li>
				<li>Computer Security and Cryptography</li>
				<li>Computer Graphics</li>
				<li>Artificial Intelligence and Machine Learning</li>
				<li>User Interface and Experience</li>
			</ul>

			<h2>Books I read</h2>

			<p>I recommend you to try and read these books:</p>

			<ul>
				<li><a href="https://www.amazon.com/Alchemist-Paulo-Coelho/dp/0061122416">The Alchemist</a></li>
				<li><a href="https://www.amazon.com/dp/020161622X/ref=emc_b_5_i">The Pragmatic Programmer: From Journeyman to Master</a></li>
				<li><a href="https://www.amazon.com/Passionate-Programmer-Remarkable-Development-Pragmatic-ebook/dp/B00AYQNR5U">The Passionate Programmer: Creating a Remarkable Career in Software Development</a></li>
				<li><a href="https://www.amazon.com/Coders-Work-Reflections-Craft-Programming/dp/1430219483/">Coders At Work: Reflections on the Craft of Programming</a></li>
				<li><a href="https://www.amazon.com/Show-Your-Work-Austin-Kleon/dp/076117897X">Show Your Work: 10 Ways To Share Your Creativity And Get Discovered</a></li>
				<li><a href="https://www.amazon.com/Steal-Like-Artist-Things-Creative/dp/0761169253">Steal Like an Artist: 10 Things Nobody Told You About Being Creative</a></li>
			</ul>
<!-- 			<h2>Where can you find me?</h2>

			<p>My username in most places is <mark>@megacolorboy</mark>. This is where you can find me:</p>

			<ul>
				<li><a href="https://www.twitter.com/megacolorboy">Twitter</a> — Come and Say Hi!</li>
				<li><a href="https://www.github.com/megacolorboy">GitHub</a> — Code, Code and More Code</li>
				<li><a href="https://www.behance.net/abdushshakoor">Behance</a> — Illustrations</li>
				<li><a href="https://www.facebook.com/megacolorboy">Facebook</a></li>
				<li><a href="https://www.stackoverflow.com/users/6947884/megacolorboy">StackOverflow</a></li>
			</ul> -->
	    </r-cell>
	    <r-cell span="5-6">
	    	<r-grid columns=1 class="side-contact">
	    		<r-cell>
	    			<p>Email</p>
	    			<a href="#">megacolorboy@gmail.com</a>
	    		</r-cell>
	    		<r-cell>
	    			<p>Twitter</p>
	    			<a href="#">@megacolorboy</a>
	    		</r-cell>
	    		<r-cell>
	    			<p>GitHub</p>
	    			<a href="#">/megacolorboy</a>
	    		</r-cell>
	    		<r-cell>
	    			<p>Behance</p>
	    			<a href="#">/abdushshakoor</a>
	    		</r-cell>
	    	</r-grid>
	    </r-cell>
  	</r-grid>
</body>
</html>