<!DOCTYPE html>
<html data-theme="light" lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles/raster/raster2.css">
	<link rel="stylesheet" href="styles/main.css">
	<title>Minimal Template - Alternate</title>
</head>
<body>
	<header id="header">
		<a href="/">
	    	<div class="masthead">
		    	<div class="logo"></div>
		    	<p>megacolorboy</p>
		    </div>
		</a>
		<nav class="menu">
			<ul>
				<li><a href="#">About</a></li>
				<li><a href="#">Writings</a></li>
				<li><a href="#">Today I Learned</a></li>
			</ul>
		</nav>
	</header>
	<section class="page-title">
		<h1>Hey there,<br/>I'm Abdush Shakoor.</h1>
		<h2>A not-so-typical software engineer & designer with a passion for computer science, mathematics, software engineering, digital design & technology.</h2>
	</section>
	<section class="listing-grid">
		<div class="column">
			<h3>Writings</h3>
			<ul class="list">
				<li class="item">
					<p class="category">Programming</p>
					<h4>Do we really need to use pointers?</h4>
					<p class="date">28.01.2021 &mdash; 10 minute read</p>
					<p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur excepturi minima, dicta. Minima vero officia tenetur, autem maxime, molestias necessitatibus. Iusto, molestiae iste aspernatur est dolor ducimus veniam quis odit!</p>
				</li>
				<li class="item">
					<p class="category">Announcement</p>
					<h4>Launched a microblog site</h4>
					<p class="date">28.01.2021 &mdash; 10 minute read</p>
					<p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur excepturi minima, dicta. Minima vero officia tenetur, autem maxime, molestias necessitatibus. Iusto, molestiae iste aspernatur est dolor ducimus veniam quis odit!</p>
				</li>
				<li class="item">
					<p class="category">Personal Challenge</p>
					<h4>Writing a book on how to build ReactJS Applications</h4>
					<p class="date">28.01.2021 &mdash; 10 minute read</p>
					<p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur excepturi minima, dicta. Minima vero officia tenetur, autem maxime, molestias necessitatibus. Iusto, molestiae iste aspernatur est dolor ducimus veniam quis odit!</p>
				</li>
				<li class="item">
					<p class="category">Laravel</p>
					<h4>Using Laravel Events and Listeners in your application</h4>
					<p class="date">28.01.2021 &mdash; 10 minute read</p>
					<p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur excepturi minima, dicta. Minima vero officia tenetur, autem maxime, molestias necessitatibus. Iusto, molestiae iste aspernatur est dolor ducimus veniam quis odit!</p>
				</li>
			</ul>
		</div>
		<div class="column">
			<h3>Today I Learned</h3>
		</div>
	</section>
</body>
</html>