<!DOCTYPE html>
<html data-theme="dark" lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles/raster/raster2.css">
	<link rel="stylesheet" href="styles/main.css">
	<title>Minimal Template</title>
</head>
<body>
	<r-grid class="main" columns=6>
	    <r-cell id="author-header" span="1-4">
	    	<a href="/">
		    	<div class="masthead">
			    	<div class="logo"></div>
			    	<p>megacolorboy</p>
			    </div>
			</a>
	    	<h1>Hello, I'm Abdush Shakoor</h1>
	    	<h3>A not-so-typical software engineer & designer.</h3>
	    </r-cell>
	    <r-cell span="5-6" id="menu">
	    	<r-grid columns=1>
	    		<r-cell>
	    			<a href="about.html">About</a>
	    		</r-cell>
	    		<r-cell>
	    			<a href="listing.html">Writings</a>
	    		</r-cell>
	    		<r-cell>
	    			<a href="#">Tips & Tricks</a>
	    		</r-cell>
	    		<r-cell>
	    			<a href="#">Projects</a>
	    		</r-cell>
	    		<r-cell>
	    			<a href="#">Resume</a>
	    		</r-cell>
	    	</r-grid>
	    </r-cell>
	</r-grid>
   	<r-grid class="listing" columns=9>
	    <r-cell span="1+3">
	    	<h3>Writings</h3>
	    	<r-grid columns=1>
	    		<div class="listing-card">
	    			<p class="date">15.01.2021</p>
	    			<h4><a href="#">Do we really need to use pointers?</a></h4>
	    			<p>Did a little digging on whether it's useful to make use of pointers in your application.</p>
	    		</div>
	    		<div class="listing-card">
	    			<p class="date">15.01.2021</p>
	    			<h4><a href="#">Launched a microblog site</a></h4>
	    			<p>A tiny experiment to see how it could improve my writing productivity.</p>
	    		</div>
	    		<div class="listing-card">
	    			<p class="date">15.01.2021</p>
	    			<h4><a href="#">Writing a book on how to build ReactJS Applications</a></h4>
	    			<p>I'm challenging myself to write a book on how to build simple applications using ReactJS</p>
	    		</div>
	    		<div class="listing-card">
	    			<p class="date">15.01.2021</p>
	    			<h4><a href="#">Using Laravel Events and Listeners </a></h4>
	    			<p>Sharing my experiences of using events and listeners in my Laravel application.</p>
	    		</div>
	    		<div class="listing-card">
	    			<p class="date">15.01.2021</p>
	    			<h4><a href="#">The Circle Packing Algorithm</a></h4>
	    			<p>Implemented a mathematically beautiful generative pattern that looks deceivingly complex to the human.</p>
	    		</div>
	    		<div class="listing-card">
	    			<p class="date">15.01.2021</p>
	    			<h4><a href="#">Deploy your Laravel App on Heroku</a></h4>
	    			<p>Learn how to deploy your Laravel application along with a database on Heroku.</p>
	    		</div>
	    	</r-grid>
	    </r-cell>
	    <r-cell span="4+3">
	    	<h3>Tips & Tricks</h3>
	    	<r-grid columns=1>
	    		<div class="listing-card">
	    			<p class="date">15.01.2021</p>
	    			<h4><a href="#">Use node-sass to minify your CSS</a></h4>
	    			<p>CSS+SCSS</p>
	    		</div>
	    		<div class="listing-card">
	    			<p class="date">15.01.2021</p>
	    			<h4><a href="#">Resolve the "General error: 1835 Malformed communication packet" error</a></h4>
	    			<p>PHP</p>
	    		</div>
	    		<div class="listing-card">
	    			<p class="date">15.01.2021</p>
	    			<h4><a href="#">Create aliased class constants in Laravel</a></h4>
	    			<p>Laravel</p>
	    		</div>
	    		<div class="listing-card">
	    			<p class="date">15.01.2021</p>
	    			<h4><a href="#">Find and remove duplicate lines using Regular Expressions</a></h4>
	    			<p>Regular Expressions</p>
	    		</div>
	    		<div class="listing-card">
	    			<p class="date">15.01.2021</p>
	    			<h4><a href="#">Rename a Git Branch</a></h4>
	    			<p>Git</p>
	    		</div>
	    		<div class="listing-card">
	    			<p class="date">15.01.2021</p>
	    			<h4><a href="#">Concatenate multiple rows into one field</a></h4>
	    			<p>MySQL</p>
	    		</div>
	    	</r-grid>
	    </r-cell>
	    <r-cell span="7+3">
	    	<h3>Projects</h3>
	    	<r-grid columns=1>
	    		<div class="listing-card">
	    			<p class="date">15.01.2021</p>
	    			<h4><a href="#">Tetris</a></h4>
	    			<p>This is the fourth article of the Arcade Challenge series. In this article, I'll be talking about Tetris, it's history and game mechanics, in short.</p>
	    		</div>
	    		<div class="listing-card">
	    			<p class="date">15.01.2021</p>
	    			<h4><a href="#">Sudoku Solver</a></h4>
	    			<p>I built a sudoku solver using Javascript by implementing the Exhaustive Recursion and Backtracking algorithms.</p>
	    		</div>
	    		<div class="listing-card">
	    			<p class="date">15.01.2021</p>
	    			<h4><a href="#">2048 Clone</a></h4>
	    			<p>An implementation of the famous 2048 game using JavaScript and HTML5 Canvas.</p>
	    		</div>
	    		<div class="listing-card">
	    			<p class="date">15.01.2021</p>
	    			<h4><a href="#">Snake</a></h4>
	    			<p>This is the first post of this month's personal challenge. I'll be talking about Snake Game, it's history and game mechanics, in short.</p>
	    		</div>
	    		<div class="listing-card">
	    			<p class="date">15.01.2021</p>
	    			<h4><a href="#">The 15 Puzzle Game</a></h4>
	    			<p>An implementation of the famous 2048 game using JavaScript and HTML5 Canvas.</p>
	    		</div>
	    		<div class="listing-card">
	    			<p class="date">15.01.2021</p>
	    			<h4><a href="#">Pong</a></h4>
	    			<p>This is the third article of the Arcade Challenge series. In this article, I'll be talking about Pong, it's history and game mechanics, in short.</p>
	    		</div>
	    	</r-grid>
	    </r-cell>
  	</r-grid>
</body>
</html>