<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Abdush Shakoor's Weblog</title>
	<!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
<!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
<!-- <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"> -->
	<link rel="stylesheet" href="inter/inter.css">
	<link rel="stylesheet" href="style.css">
</head>
<body>
	
	<header class="header">
		<!-- Logo with Author Name -->
		<div class="author">
			<a href="index.html">
				<img src="https://www.megacolorboy.com/static/logo.gif" alt="megacolorboy">
				<div class="name">
					<h1>Abdush Shakoor's Weblog</h1>
					<p>Writings, experiments & ideas.</p>
				</div>
			</a>
		</div>
		<!-- Logo with Author Name -->
		<nav>
			<ul class="menu">
				<li><a href="about.html">About</a></li>
				<li><a href="#">Projects</a></li>
				<!-- <li><a href="#">Today I Learned</a></li> -->
				<li><a href="#">Resume</a></li>
			</ul>
		</nav>	
	</header>
	
	<main>
		<div class="two-col-grid">
			<!-- Displays 4-5 full articles  -->
			<section id="primary">
				<div class="articles">
					<div class="article">
						<div class="article-header">
							<h1 class="heading"><a href="#">A little bit about myself</a></h1>
							<p class="description">Here's a not-so-formal kind of introduction about myself.</p>
						</div>
						<div class="article-body">
							<p>Hello there! My name is Abdush Shakoor and I like problem solving and building stuff for fun!</p>

							<p>I'm a full stack software engineer living in Dubai, United Arab Emirates with a passion for Computer Science, Mathematics, Software Engineering, Digital Design and Technology.</p>

							<p>Currently, I work at <a href="https://www.pgsuae.com">Planet Green Solutions</a> as a Backend Engineer who develops web applications for various clients that mostly comprises of various Government Entities of the United Arab Emirates.</p>

							<p>Oh, I'm also part of the Backend team that helped build <a href="https://www.farmsgate.com">FarmsGate</a>, an eCommerce platform for farmers that can sell and deliver fresh fruits and vegetables to your doorstep!</p>

							<p><a href="../resume/">Check out my resume to learn more about my work experiences and projects &rarr;</a></p>

							<p>In my spare time, I love to tinker with my computer science and software engineering projects like implementing new algorithms, learning new programming languages or paradigms, building a game and so on. I also design conceptual user interfaces after being exposed to the <a href="https://dailyui.co">DailyUI</a> project.</p>

							<p>In fact, this blog is built from scratch. No bootstrap, no heavy UI frameworks or libraries are used as I found it quite unnecessary for a minimalist blog.</p>

							<div class="post-notification">
								<h3>Blog engine updated!</h3>
								<p>As of March 1st 2019, I have changed my blog engine from a dynamic website to a custom-built static site generator. <a href="../writings/posts/say-hello-new-blog/">Read more &rarr;</a></p>
							</div>

							<p>I'm an intermediate-level toss juggler and I love to spend time practicing my juggling skills. Apart from that, I practice calisthenics, read books and listen to instrumental music.</p>

							<p>Illustrating artworks used to be a part of my life, but now it has become one of my hobbies as well. You can view my artworks on my <a href="https://www.behance.net/abdushshakoor">Behance</a> profile.</p>

							<h2>Areas of Interest</h2>

							<p>My areas of interest includes but not limited to:</p>

							<ul>
								<li>Algorithms and Data Structures</li>
								<li>Computer Architecture</li>
								<li>Programming Languages and Compilers</li>
								<li>Distributed Systems</li>
								<li>Mathematics</li>
								<li>UNIX Operating Systems</li>
								<li>Networking</li>
								<li>Databases</li>
								<li>Computer Security and Cryptography</li>
								<li>Computer Graphics</li>
								<li>Artificial Intelligence and Machine Learning</li>
								<li>User Interface and Experience</li>
							</ul>

							<h2>Books I read</h2>

							<p>I recommend you to try and read these books:</p>

							<ul>
								<li><a href="https://www.amazon.com/Alchemist-Paulo-Coelho/dp/0061122416">The Alchemist</a></li>
								<li><a href="https://www.amazon.com/dp/020161622X/ref=emc_b_5_i">The Pragmatic Programmer: From Journeyman to Master</a></li>
								<li><a href="https://www.amazon.com/Passionate-Programmer-Remarkable-Development-Pragmatic-ebook/dp/B00AYQNR5U">The Passionate Programmer: Creating a Remarkable Career in Software Development</a></li>
								<li><a href="https://www.amazon.com/Coders-Work-Reflections-Craft-Programming/dp/1430219483/">Coders At Work: Reflections on the Craft of Programming</a></li>
								<li><a href="https://www.amazon.com/Show-Your-Work-Austin-Kleon/dp/076117897X">Show Your Work: 10 Ways To Share Your Creativity And Get Discovered</a></li>
								<li><a href="https://www.amazon.com/Steal-Like-Artist-Things-Creative/dp/0761169253">Steal Like an Artist: 10 Things Nobody Told You About Being Creative</a></li>
								<li><a href="https://www.amazon.com/Memory-Man-David-Baldacci/dp/1455559806">The Memory Man</a></li>
								<li><a href="https://beej.us/guide/bgnet/">Beej's Guide to Network Programming</a></li>
							</ul>

							<h2>Where can you find me?</h2>

							<p>My username in most places is <mark>@megacolorboy</mark>. This is where you can find me:</p>

							<ul>
								<li><a href="https://www.twitter.com/megacolorboy">Twitter</a> &mdash; Come and Say Hi!</li>
								<li><a href="https://www.github.com/megacolorboy">GitHub</a> &mdash; Code, Code and More Code</li>
								<li><a href="https://www.behance.net/abdushshakoor">Behance</a> &mdash; Illustrations</li>
								<li><a href="https://www.facebook.com/megacolorboy">Facebook</a></li>
								<li><a href="https://www.stackoverflow.com/users/6947884/megacolorboy">StackOverflow</a></li>
							</ul>
						</div>
						<div class="article-footer">
							<time>19th February 2021</time>
							<ul class="tags">
								<li>
									<a href="#">
										Introduction
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!-- 
				Contains blog links that I follow 
				Bookmarks
				Interesting quotes/content
			-->
			<section id="secondary">
				
				<div class="sidebar">
					<div class="author-intro">
						<h3>Hello, I'm Abdush Shakoor! &#x1F44B;</h3>
						<p>I'm a programmer & designer based in Dubai, United Arab Emirates. I love tinkering with code and writing about what I learn.</p>
						<p>This website is my digital garden &mdash; a compendium of the things I've learned and created over the years.</p>

						<ul class="sitemap">
							<li><a href="#">Email</a></li>
							<li><a href="#">GitHub</a></li>
							<li><a href="#">LinkedIn</a></li>
							<li><a href="#">Twitter</a></li>
						</ul>
					</div>

					<!-- Search bar -->
					<div class="search-bar">
						<input type="text" placeholder="🔍 Search for anything here..." />
						<button type="submit">Search</button>
					</div>
					<!-- Search bar -->	

					<!-- Tags -->
					<div>
						<!-- <h3>Tags</h3> -->
						<ul class="tags">
							<li>
								<a href="#">
									DevOps
									<span class="count">10</span>
								</a>
							</li>
							<li>
								<a href="#">
									Programming
									<span class="count">5</span>
								</a>
							</li>
							<li>
								<a href="#">
									Linux
									<span class="count">12</span>
								</a>
							</li>
							<li>
								<a href="#">
									Productivity
									<span class="count">2</span>
								</a>
							</li>
							<li>
								<a href="#">
									VIM
									<span class="count">5</span>
								</a>
							</li>
							<li>
								<a href="#">
									VSCode
									<span class="count">5</span>
								</a>
							</li>
							<li>
								<a href="#">
									MySQL
									<span class="count">5</span>
								</a>
							</li>
							<li>
								<a href="#">
									Git
									<span class="count">5</span>
								</a>
							</li>
							<li>
								<a href="#">
									Unix
									<span class="count">5</span>
								</a>
							</li>
							<li>
								<a href="#">
									PHP
									<span class="count">5</span>
								</a>
							</li>
							<li>
								<a href="#">
									Laravel
									<span class="count">5</span>
								</a>
							</li>
						</ul>
					</div>
					<!-- Tags -->	
				</div>
			</section>
		</div>
		
	</main>

	<footer>
		<span class="copyright">&copy; Abdush Shakoor</span>
	</footer>
</body>
</html>