<!DOCTYPE html>
<html lang="en" data-theme="">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Abdush Shakoor's Weblog</title>
	<!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
<!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
<!-- <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"> -->
	<link rel="stylesheet" href="inter/inter.css">
	<link rel="stylesheet" href="style.css">
	<script src="https://unpkg.com/phosphor-icons"></script>
</head>
<body>
	
	<header class="header">
		<!-- Logo with Author Name -->
		<div class="author">
			<a href="index.html">
				<img src="https://www.megacolorboy.com/static/logo.gif" alt="megacolorboy">
				<div class="name">
					<h1>Abdush Shakoor's Weblog</h1>
					<p>Writings, experiments & ideas.</p>
				</div>
			</a>
		</div>
		<!-- Logo with Author Name -->
		<nav>
			<ul class="menu">
				<li><a href="about.html">About</a></li>
				<li><a href="#">Archive</a></li>
				<li><a href="#">Resume</a></li>
			</ul>
		</nav>	
	</header>
	
	<main>
		<div class="two-col-grid">
			<!-- Displays 4-5 full articles  -->
			<section id="primary">
				
			</section>
			<!-- 
				Contains blog links that I follow 
				Bookmarks
				Interesting quotes/content
			-->
			<section id="secondary">
				<div class="sidebar">
					<div class="author-intro">
						<h3>Archive</h3>
						<p>Here's a collection of what I've written over the years.</p>
						<ul class="sitemap">
							<li><a href="#">Email</a></li>
							<li><a href="#">GitHub</a></li>
							<li><a href="#">LinkedIn</a></li>
							<li><a href="#">Twitter</a></li>
						</ul>
					</div>
				</div>
			</section>
		</div>

		
	</main>

	<footer>
		<span class="copyright">&copy; Abdush Shakoor</span>
	</footer>
</body>
</html>
