<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="main.css">
	<title>Homepage</title>
</head>
<body>
	<section class="home-intro">
		<h1>Abdush Shakoor</h1>
		<p>Hello there! I'm a developer, designer and a fitness enthusiast. I'm currently on the development team at <a href="#">Planet Green Solutions</a> as a Backend Web Developer where I work mainly with LAMP Stack alongside Linux System Administration. In my spare time, you'll find me blogging, exploring new technologies, reading, listening to music, building side projects and working out.</p>
		<p>You can reach out to me via <a href="#">email</a> or follow me on <a href="#">Twitter</a>.</p>
	</section>

	<section class="home-listing">
		<div class="heading">
			<h3>Writings</h3>
			<a href="#">View all posts</a>
		</div>
		<ul class="list">
			<li>
				<a href="#">I switched to Fedora 35</a>
				<time>12 Jun 2022</time>
			</li>
			<li>
				<a href="#">Is SELinux complicated?</a>
				<time>12 Jun 2022</time>
			</li>
			<li>
				<a href="#">On learning new technologies</a>
				<time>12 Jun 2022</time>
			</li>
			<li>
				<a href="#">Dark/Light mode with CSS and JavaScript</a>
				<time>12 Jun 2022</time>
			</li>
			<li>
				<a href="#">One year of writing TIL articles</a>
				<time>12 Jun 2022</time>
			</li>
			<li>
				<a href="#">Understanding SPF, DKIM and DMARC protocols</a>
				<time>12 Jun 2022</time>
			</li>
			<li>
				<a href="#">Make your own generative pixel art in less than 100 lines of code</a>
				<time>12 Jun 2022</time>
			</li>
			<li>
				<a href="#">Built a new static site generator using Python 3.7</a>
				<time>12 Jun 2022</time>
			</li>
			<li>
				<a href="#">Do we really need to use pointers?</a>
				<time>12 Jun 2022</time>
			</li>
		</ul>
	</section>

	<section class="home-listing">
		<div class="heading">
			<h3>Today I Learned</h3>
			<a href="#">View all posts</a>
		</div>
		<ul class="list">
			<li>
				<a href="#">I switched to Fedora 35</a>
				<time>12 Jun 2022</time>
			</li>
			<li>
				<a href="#">Is SELinux complicated?</a>
				<time>12 Jun 2022</time>
			</li>
			<li>
				<a href="#">On learning new technologies</a>
				<time>12 Jun 2022</time>
			</li>
			<li>
				<a href="#">Dark/Light mode with CSS and JavaScript</a>
				<time>12 Jun 2022</time>
			</li>
			<li>
				<a href="#">One year of writing TIL articles</a>
				<time>12 Jun 2022</time>
			</li>
			<li>
				<a href="#">Understanding SPF, DKIM and DMARC protocols</a>
				<time>12 Jun 2022</time>
			</li>
			<li>
				<a href="#">Make your own generative pixel art in less than 100 lines of code</a>
				<time>12 Jun 2022</time>
			</li>
			<li>
				<a href="#">Built a new static site generator using Python 3.7</a>
				<time>12 Jun 2022</time>
			</li>
			<li>
				<a href="#">Do we really need to use pointers?</a>
				<time>12 Jun 2022</time>
			</li>
		</ul>
	</section>

	<section class="home-listing">
		<div class="heading">
			<h3>Book Reviews</h3>
			<a href="#">View all posts</a>
		</div>
		<ul class="list">
			<li>
				<a href="#">I switched to Fedora 35</a>
				<div>★★★★</div>
			</li>
			<li>
				<a href="#">Is SELinux complicated?</a>
				<div>★★★★</div>
			</li>
			<li>
				<a href="#">On learning new technologies</a>
				<div>★★★★</div>
			</li>
			<li>
				<a href="#">Dark/Light mode with CSS and JavaScript</a>
				<div>★★★★</div>
			</li>
			<li>
				<a href="#">One year of writing TIL articles</a>
				<div>★★★★</div>
			</li>
			<li>
				<a href="#">Understanding SPF, DKIM and DMARC protocols</a>
				<div>★★★★</div>
			</li>
			<li>
				<a href="#">Make your own generative pixel art in less than 100 lines of code</a>
				<div>★★★★</div>
			</li>
			<li>
				<a href="#">Built a new static site generator using Python 3.7</a>
				<div>★★★★</div>
			</li>
			<li>
				<a href="#">Do we really need to use pointers?</a>
				<div>★★★★</div>
			</li>
		</ul>
	</section>

	<footer>
		&copy; Abdush Shakoor
	</footer>

</body>
</html>