<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/styles/main.css">
    <title>Abdush Shakoor</title>
</head>
<body>
	<header class="author-head main">
		<div class="logo"></div>
		<div class="content">
			<div class="title">
				<h1>This is Abdush Shakoor</h1>
				<p>A not-so-typical software engineer and designer.</p>
			</div>
			<nav class="links">
				<ul>
					<li><a href="#">Blog</a></li>
					<li><a href="#">TIL</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Resume</a></li>
				</ul>
			</nav>	
		</div>
	</header>
    <main class="main">
        <section class="section">
        	<h1>He likes to solve problems and build stuff for fun!</h1>
        	<p>Writes code, designs user interfaces and is curious when it comes to solving intricate puzzles.</p>
    	</section>

    	<section class="section">
        	<h1>Nowadays, he's coding at <a href="#">Planet Green Solutions</a>.</h1>
        	<p>Works as a backend developer building web applications for various clients and entities.</p>
    	</section>

    	<section class="section">
        	<h1>Well, he doesn't always write in third person...</h1>
        	<p>On his <a href="#">personal blog</a>, he writes all of the articles as himself. Really.</p>
        	<div class="article-list">
        		<div class="card">
                    <div class="card-wrapper">
            			<div class="date-category"><p>August 21st, 2020</p><span>&bull;</span><p>Programming</p></div>
                        <div class="title"><a href="#">Do we really need to use pointers?</a></div>
                        <div class="description">
                            <p>Did a little digging on whether it's useful to make use of pointers in your application</p>
                        </div>
                    </div>
        		</div>
        		<div class="card">
                    <div class="card-wrapper">
            			<div class="date-category"><p>May 29th, 2020</p><span>&bull;</span><p>Announcement</p></div>
                        <div class="title"><a href="#">Launched a microblog site</a></div>
                        <div class="description">
                            <p>A tiny experiment to see how it could improve my writing productivity.</p>
                        </div>
                    </div>
        		</div>
        		<div class="card">
                    <div class="card-wrapper">
            			<div class="date-category"><p>March 13th, 2020</p><span>&bull;</span><p>Personal Challenge</p></div>
                        <div class="title"><a href="#">Writing a book on how to build ReactJS applications</a></div>
                        <div class="description">
                            <p>I'm challenging myself to write a book on how to build simple applications using ReactJS</p>
                        </div>
                    </div>
        		</div>
        		<div class="card">
                    <div class="card-wrapper">
            			<div class="date-category"><p>February 7th, 2020</p><span>&bull;</span><p>Laravel</p></div>
                        <div class="title"><a href="#">Using Laravel Events and Listeners in your application</a></div>
                        <div class="description">
                            <p>Sharing my experiences of using events and listeners in my Laravel application.</p>
                        </div>
                    </div>
        		</div>
        	</div>
    	</section>

    	<section class="section">
        	<h1>And he loves to share some tips and tricks, too!</h1>
        	<p>He writes <a href="#">short articles</a> about whatever he has learnt during the process of doing things.</p>
        	<div class="article-list til">
        		<div class="card">
                    <div class="card-wrapper">
            			<div class="date-category"><p>August 2020</p></div>
                        <div class="title"><a href="#">Use node-sass to minify your CSS</a></div>
                        <div class="description"><p>Programming</p></div>
                    </div>
        		</div>
        		<div class="card">
                    <div class="card-wrapper">
            			<div class="date-category"><p>August 2020</p></div>
                        <div class="title"><a href="#">Resolve the "General error: 1835 Malformed communication packet" error</a></div>
                        <div class="description"><p>Programming</p></div>
                    </div>
        		</div>
        		<div class="card">
                    <div class="card-wrapper">
            			<div class="date-category"><p>August 2020</p></div>
                        <div class="title"><a href="#">Create aliased class constants in Laravel</a></div>
                        <div class="description"><p>Programming</p></div>
                    </div>
        		</div>
        		<div class="card">
                    <div class="card-wrapper">
            			<div class="date-category"><p>August 2020</p></div>
                        <div class="title"><a href="#">Find and remove duplicate lines using Regular Expressions</a></div>
                        <div class="description"><p>Programming</p></div>
                    </div>
        		</div>
        		<div class="card">
                    <div class="card-wrapper">
            			<div class="date-category"><p>August 2020</p></div>
                        <div class="title"><a href="#">Rename a Git Branch</a></div>
                        <div class="description"><p>Programming</p></div>
                    </div>
        		</div>
        		<div class="card">
                    <div class="card-wrapper">
            			<div class="date-category"><p>August 2020</p></div>
                        <div class="title"><a href="#">Concatenate multiple rows into one field</a></div>
                        <div class="description"><p>Programming</p></div>
                    </div>
        		</div>
        	</div>
    	</section>

    	<section class="section">
        	<h1>But you know what? He loves to give back!</h1>
        	<p>Reach out to him at <a href="mailto:megacolorboy@gmail.com">megacolorboy@gmail.com</a> or <a href="https://twitter.com/megacolorboy">@megacolorboy</a></p>
    	</section>
    </main>
</body>
</html>
