:root {
	--black-blue: #222831;
	--dark-black: #111111;
	--grey-black: #333333;
	--black: #1A1C20;
	--white: #F7F7F7;
	--red: #FF5A5F;
	--yellow: #FFCC00;
	--blue: #003399;
	--alt-black: #222222;

	--fontSize: 12px;
	--lineHeight: 20px;
	--unit: calc(var(--fontSize) * 0.5);
	--body-padding-y: calc(var(--unit) * 16);
	--body-padding-x: calc(var(--unit) * 16);
	--max-width: calc(var(--unit) * 300);

	// Font weights
	--fw-thin: 100;
	--fw-extra-light: 200;
	--fw-light: 300;
	--fw-regular: 400;
	--fw-medium: 500;
	--fw-semi-bold: 600;
	--fw-bold: 700;
	--fw-extra-bold: 800;
	--fw-black: 900;
}

html {
	background-color: var(--dark-black);

	&[data-theme="light"] {
		body {
			background-color: var(--white);
			color: var(--black);
			.divider {
				background-color: var(--black);
			}	
		}
	}

	&[data-theme="dark"] {
		body {
			background-color: var(--grey-black);
			color: var(--white);
			.divider {
				background-color: var(--white);
			}		
		}
	}

	&[data-theme="yellow"] {
		background-color: var(--dark-black);
		body {
			background-color: var(--yellow);
			color: var(--dark-black);		
			.divider {
				background-color: var(--dark-black);
			}
		}
	}

	&[data-theme="blue"] {
		background-color: var(--black);
		body {
			background-color: var(--blue);
			color: var(--white);		
			.divider {
				background-color: var(--white);
			}
		}
	}
}

:first-child {
	margin-top: unset;
}

:last-child {
	margin-bottom: unset;
}

a {
	&:hover {
		text-decoration: underline;
		color: var(--red);
	}
}

body {
	line-height: var(--lineHeight);
	max-width: var(--max-width);
	padding: var(--body-padding-y) var(--body-padding-x);
	margin: 0 auto;
	min-height: 100vh;
	box-sizing: border-box;
	letter-spacing: -.05em;
}

h1, h2, h3, h4, h5, h6 {
	letter-spacing: -.05em;
}

.masthead {
	display: flex;
	flex-direction: row;
	align-items: center;

	.logo {
		background-image: url('../assets/mc-avatar.png');
		background-size: contain;
		height: 50px;
		width: 50px;
		border-radius: 999em;
		margin-right: 20px;
	}

	p {
		font-size: 18px;
		font-weight: var(--fw-semi-bold);
	}
}

.main {
	margin-top: calc(var(--unit) * 10);
}

.page-title {
	margin-top: calc(var(--unit) * 20);
	h2 {
		font-weight: var(--fw-regular);
		max-width: 700px;
	}
}

.ruler {
	height: 0.2rem;
	background: var(--black);
	margin-top: calc(var(--lineHeight) * 2);	
}

.listing {
	margin-top: calc(var(--unit) * 20);	

	h3 {
		font-weight: var(--fw-semi-bold);
	}

	r-grid {
		margin-top: calc(var(--unit) * 10);
		grid-row-gap: 35px;
	}

	.listing-card {
		max-width: 300px;

		.date {
			margin-bottom: calc(var(--fontSize) * 0.25);
			font-size: calc(var(--fontSize) - 1px);
		}

		h4 {
			font-weight: var(--fw-semi-bold);
			margin-bottom: calc(var(--fontSize) * 0.25);
			
			&+p {
				font-size: calc(var(--fontSize) - 1px);
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}

			a {
				white-space: normal;
				&:hover {
					color: var(--red);
					text-decoration: underline;
				}
			}
		}
	}
}


.article {
	margin-top: calc(var(--unit) * 20);	

	.content {
		max-width: 80%;
		a {
			color: var(--red);
			text-decoration: none;
			font-weight: var(--fw-medium);
			&:hover {
				text-decoration: underline;
			}
		}
	}	
}

.side-contact {
	font-size: calc(var(--fontSize) * 1.125);

	p {
		margin-bottom: calc(var(--fontSize) * 0.25);
		font-weight: var(--fw-bold);
	}

	a {
		color: var(--red);
		text-decoration: none;
		font-weight: var(--fw-medium);
		&:hover {
			text-decoration: underline;
		}
	}
}


#author-header {
	a {
		text-decoration: none;
	}
	h1 {
		margin-bottom: calc(var(--lineHeight) * 0.5);

		&+h3 {
			font-weight: var(--fw-light);		
		}
	}
}

#menu {
	a {
		font-size: calc(var(--fontSize) * 1.25);
		font-weight: var(--fw-medium);
		text-decoration: none;

		&.active {
			color: var(--red);
		}

		&:hover {
			text-decoration: underline;
		}
	}
}

.archive-listing {
	margin-top: calc(var(--unit) * 20);	

	.divider {
		height: 3px;
		background-color: var(--white);
		margin-bottom: calc(var(--lineHeight) * 0.25) !important;
		margin-top: var(--lineHeight) !important;
	}

	.year {
		margin-bottom: calc(var(--fontSize) * 1.25);
	}

	.date {
		margin-bottom: calc(var(--fontSize) * 0.25);
		font-size: calc(var(--fontSize) - 1px);
	}

	.post {
		margin-bottom: calc(var(--fontSize) * 1.5);
		h4 {
			font-weight: var(--fw-semi-bold);
			margin-bottom: calc(var(--fontSize) * 0.25);
			
			&+p {
				font-size: calc(var(--fontSize) - 1px);
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}

			a {
				white-space: normal;
				&:hover {
					color: var(--red);
					text-decoration: underline;
				}
			}
		}
	}
}
